.cart {
    display: flex;
    justify-content: center;
}

.cart .cart__wrapper {
    width: 100%;
    max-width: 1820px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cart .cart__list {
    flex-direction: column;
    row-gap: 20px;
}
